.ad6_Page {
    height: 38em;
    width: 100%;
    margin: 20px;
}
.ad6_Header {
    width: 100%;
    height: 2em;
   display: flex;
}
.moreResults {
    color: blue;
    margin: 10px;
}
.moreResults:hover {
    color: #C7511F;
}
.ad6_Images {
    display: flex;
}

.ad6_Images a img {
height: 14em;
width: 14.4em;
margin: 8px;
border: solid 2px whitesmoke;
}
.discount_Offer {
    height: 1.5em;
    width: 6.5em;
    background-color: red;
    font-size: 0.9em;
    font-weight: 500;
   border-radius: 2px;
   text-align: center;
}
.item_Names {
    color: black;
}
.ad7_page {
   
    margin-top: 20px;
}
.ad7_Images {
    display: flex;
   
}
.ad7_page a img {
    height: 14em;
    width: 12em;
}