.footer_Page {
    height: 45em;
    width: 100%;
}
.footer_Back {
    width: 100%;
    height: 60px;
    background-color: #37475A;
    color: white; 
    text-align: center;
}
.footer_Links {
    color: white;
    width: 100%;
    height: 18em;
    background-color:  #232F3E;
    display: flex;
    border-bottom: solid 0.01em white;
}
.links_Links {
    margin: 60px;  
}
.links_Links a{
    color: rgba(255, 255, 255, 0.648);
    font-size: 14px;
}
.links_Links ul li {
list-style-type: none;
}
a:hover {
    text-decoration: underline;    
    color: white;
}
.footer_Logo {
    height: 5em;
    width: 100%;
    background-color: #232F3E;
    display: flex; 
    margin-bottom: 0.1px solid white; 
}
.logo_Image {
    background: url(https://ik.imagekit.io/t7f1boru6/amazon-images/nav-sprite-global-1x-hm-dsk-reorg._CB405936311__47kWTuW8M.png?ik-sdk-version=javascript-1.4.3&updatedAt=1666300925173) no-repeat -10px -90px;
	width: 76px;
	height: 23px;
    margin: 20px 50px 0px 500px;
}
.addLanguage {
height: 2.3em;
width: 8em;
border: white solid 1px;
margin: 10px;
border-radius: 2px;
}
.languageDisplay {
    display: flex;
}
.earth_Image {
    background: url(https://ik.imagekit.io/t7f1boru6/amazon-images/fe2UeLQmJ11kKHN__1__nD1tyS2Ea.png?ik-sdk-version=javascript-1.4.3&updatedAt=1667245282805) no-repeat -77px -24px;
	width: 14px;
	height: 17px;
    margin: 10px 15px 0px 5px;
}
.languageText {
font-weight: 500;
margin: 5px 2px;
}
.doubleDropdown {
    background: url(https://ik.imagekit.io/t7f1boru6/amazon-images/fe2UeLQmJ11kKHN__1__nD1tyS2Ea.png?ik-sdk-version=javascript-1.4.3&updatedAt=1667245282805) no-repeat -82px -79px;
	width: 8px;
	height: 13px;
    margin: 10px;
}
.language_Foreign {
  height: 5em;
  width: 100%;
  background-color: #232F3E;
  
}
.language_Foreign ul li{
    list-style-type: none;
    margin: 0.8em;
    font-size: 0.9em;
}
.countryName {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer_End {
    background-color: #131A22;
    height: 13.3em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.footer_End a {
    font-size: 0.8em;
    margin: 2em 7em 0em 7em;
}

.footer_End a div {
    color: #999;
    font-size: 0.7em;
}